.containerPoke {
 position: relative;
 min-width: 12rem;
 min-height: 32rem;
 width: 100%;
 height: 100%;
 margin: 0 auto;
 &:hover {
  .card {
   border: 0.3rem solid #000;
   box-shadow: 0 0.5rem 0.7rem #808080;
   transform: rotateY(180deg);
  }
 }
}

.card {
 position: absolute;
 width: 100%;
 height: 100%;
 transform-style: preserve-3d;
 transition: all 0.5s ease;
 border-radius: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
 &-body {
  width: 98%;
  margin: 0 auto;
 }
 &-front,
 &-back {
  position: absolute;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
 }
 &-back {
  transform: rotateY(180deg);
 }
 &-image {
  img {
   width: 10rem;
   height: auto;
  }
 }
 &-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 &-name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
 }
}
.back {
 &-name {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: capitalize;
 }
 &-info {
  min-width: 12rem;
 }
 &-text {
  font-size: 1.4rem;
  font-weight: normal;
  text-transform: capitalize;
  span {
   font-weight: bold;
  }
 }
}

/* Estilos del modal */
.ReactModal__Overlay {
 background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
 z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
}

.ReactModal__Content {
 position: absolute; /* Posición absoluta para centrar el modal */
 top: 50%; /* Colocar el modal en el centro verticalmente */
 left: 50%; /* Colocar el modal en el centro horizontalmente */
 transform: translate(-50%, -50%); /* Centrar el modal en la pantalla */
 background-color: #fff; /* Color de fondo del modal */
 border-radius: 8px; /* Bordes redondeados del modal */
 padding: 20px; /* Espaciado interno del contenido del modal */
 max-width: 500px; /* Ancho máximo del modal */
 width: 100%; /* Ancho del modal */
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra del modal */
}

/* Estilos para el contenido dentro del modal */
.ModalContent {
 /* Estilos adicionales para el contenido del modal */
}

/* Estilos para el botón de cerrar el modal */
.CloseButton {
 position: absolute;
 top: 10px;
 right: 10px;
 background-color: transparent;
 border: none;
 font-size: 18px;
 color: #999;
 cursor: pointer;
}
