.color_bug {
 background-image: $color_bug;
}
.color_dark {
 background-image: $color_dark;
}

.color_dragon {
 background-image: $color_dragon;
}

.color_electric {
 background-image: $color_electric;
}

.color_fairy {
 background-image: $color_fairy;
}

.color_fighting {
 background-image: $color_fighting;
}

.color_fire {
 background-image: $color_fire;
}

.color_flying {
 background-image: $color_flying;
}

.color_ghost {
 background-image: $color_ghost;
}

.color_ground {
 background-image: $color_ground;
}

.color_grass {
 background-image: $color_grass;
}

.color_ice {
 background-image: $color_ice;
}

.color_normal {
 background-image: $color_normal;
}

.color_poison {
 background-image: $color_poison;
}

.color_psychic {
 background-image: $color_psychic;
}

.color_rock {
 background-image: $color_rock;
}

.color_steel {
 background-image: $color_steel;
}

.color_water {
 background-image: $color_water;
}

.color_default {
 background-image: $color_default;
}
